@use "../abstracts/index" as *;

.popup-property {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
    background-color: var(--White);
    border-radius: 16px;
    .img-style {
        border-radius: 4px;
        overflow: hidden;
    }
    .info {
        gap: 24px;
        li {
            font-size: 14px;
            line-height: 23px;
        }
        i {
            font-size: 20px;
            color: var(--Text-secondary);
        }
    }
    @include res(md) {
        padding: 10px;
        gap: 10px;
        .info {
            gap: 7px;
        }
    }
}

.modal {
    z-index: 999999;
    .title-box {
        margin-bottom: 40px;
        @include flex(center, space-between);
        .close-modal {
            font-size: 24px;
            cursor: pointer;
            @include transition3();
            &:hover {
                transform: rotate(90deg);
                color: var(--Primary);
            }
        }
    }
    .modal-content {
        border-radius: 16px;
        overflow: hidden;
    }
    @include res(lg, min) {
        &.modal-filter {
            --bs-modal-width: 544px;
        }
    }
}

.offcanvas-backdrop,
.modal-backdrop {
    background: rgba(0, 0, 0, 0.7);
    opacity: 0.7;
    backdrop-filter: blur(10px);
    @include transition3();
    z-index: 99999;
}

.swal2-popup {
    max-width: 400px;
    width: 100%;

    .swal2-actions {
        gap: 20px;
    }

    .btn {
        font-size: 16px;
        line-height: 24px;
        padding: 8px 24px;
    }

    .swal2-html-container {
        font-size: 18px;
        line-height: 26px;
    }

    .swal2-title {
        font-size: 24px;
        line-height: 32px;
    }

    .btn-success {
        background-color: var(--Primary);
        border: unset;
        outline: none;
        box-shadow: unset;
        color: var(--Text-primary);
        @include transition4();
        &:hover {
            background-color: var(--Text-primary);
            color: var(--White);
        }
    }
}
